*{
    font-family: 'Assistant', sans-serif;
    color: rgb(32, 32, 32);
    padding: 0px 5px;
    
}


.nav {
    z-index: 100;
    left:0;
    position:fixed;
    top: 0;
    width:100%;
    padding: 0px 15px 0px 15px;
    
    background-color: rgb(87, 87, 87);
    
}

.nav > a {
    padding: 5px;
    max-width:25%;
    
        
}

a {
    float: left;
    text-decoration-line: none;
    color:white;
    text-shadow: 2px;
    display:flexbox;
    padding: 10px;
    
}



.main {
    position:relative;
    top:40px;
}

a:hover {
    background-color:rgb(120,120,120);
}

a.active {
    color: black;
    background-color: white;
    padding:5px 10px 5px 10px;
    left:0;
    top:0;
}

h1 {    
    margin-top: 5px;
    
}

h3 {
    display:block;
    background-color: rgb(120,120,120);
    color:white;
    padding:30px;
    max-width:fit-content;
    
}

p {
    margin:auto;
    padding: 30px;
}




ul {
    list-style-type: none;
}

.bullet {
    list-style: square inside;
}





th {
    display: box;
    background-color: rgb(120,120,120);
    color: white;
    font-weight: bold;
}

th > h5 {
    color: white;
    font-style:italic;
}

td {
    background-color: rgb(200,200,200);
}

.print-block {
    margin:10px;
    padding: 5px;
    display:block;
    background-color: rgb(200,200,200);
    max-width: fit-content;
}
.inner-print-block {
    display:block;
    background-color:white;
    border-top:3px;
    padding:5%;
}
li {
    margin: 1%;
}

.form {
    display:block;
    background-color: rgb(87, 87, 87);
    padding:10px;
    text-align: right;
    margin:10% 25%;
    justify-content: center;
}

form > label {
    color:white;
}

.label-break {
    display:none;
}



#submit {
    width:max-content;
    margin:5px;
    display:block;
    background-color:rgb(32, 32, 32);
    color:white;
    right:0;
    border-width:2px;
    border-color:rgb(120,120,120)
}

.textbox {
    width: 70%;
}
#submit:hover {
    background-color:white;
    color:black;
}

#contact-body {
    min-height: 100px;
}

.gallery {
    line-height: 0;
    column-count: 4;
    column-gap:5px;
}

.gallery-container {
    position: relative;
    width:fit-content;
}

.gallery img {
    width:100% !important;
    height:100% !important;
    margin-bottom:5px;
}

.overlay {
    position: absolute;
    right:3%;
    bottom:10px;
    background:rgb(0,0,0,);
    background: rgba(0,0,0,.75);
    color:white;
    width:max-content;
    transition: .5s ease;
    opacity:0;
    font-size:15px;
    padding:10px;
    text-align: center;
}

.gallery-container:hover .overlay {
    opacity:1;
}
/* mobile and small screens */
@media screen and (max-width: 1000px){
    .main {
        width:100%;
        padding:0;
    }
    .inner-print-block {
        padding:5%;
    }
    .form {
        margin:0;
        text-align: left;
    }
    .gallery {
        column-count: 3;
    }
    .overlay {
        font-size:medium;
        
    }
    .label-break {
        display:block;
    }
}
@media screen and (max-width: 480px) {
    .main {
    width:100%;
    padding: 0;
    }
    .inner-print-block {
        padding:10% 5%;
    }
    .form {
        margin:0;
        text-align: right;
    }
    .gallery {
        
        column-count: 2;
    }
    .label-break {
        display:block;
    }
    
}

